<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Lorem est veniam excepteur et. Elit ut commodo aliquip sint. Voluptate pariatur sint cillum culpa qui. Officia ullamco tempor aliqua do sit ut officia excepteur exercitation enim eiusmod. Nostrud et commodo mollit nisi enim quis esse tempor quis qui.</p>
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
    </body>
</html>