<html>
    <head>
        <meta charset="utf-8">
        <title>Some site</title>
    </head>
    <body>
        <h1>Site is in maintenance mode.</h1>
        <p>Sorry for inconvinience, site is been updated. We will back soon.</p>
    </body>
</html>

